<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ASP .net vNext" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>
